.header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
}


.logo-3{
    width: 260px;
    height: auto;
}

.logo-3 img{
    width: 325px;
    height: auto;
}

#carouselExampleIndicators{
    width: 55em;
    height: 30em;
    padding-left: 3em;
    padding-top: 1em;
    justify-content: center;
}

.carousel-item{
    width: auto;
    height: 600px;
}

.carousel-control-next-icon{
    margin-left: 5em;
}
.nav-bar {
    background-color: #272727;
    font-size: 16px;
    text-align: left;  /* May want to align center */
    padding-top: 5px;
}
.nav-menu a {
    color: #fff;  /* White font for link color. */
    margin-left: 5em;
}
.nav-menu{
    margin-left: 15em;
    padding-bottom: 8px;
}
.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu li {
    position: relative;
}
.nav-menu a {
    padding: 5px 10px;
    margin: 5px 10px;
    display: block;
    text-decoration: none;
    border-radius: .2em;  /* Nice little rounded corners. */
}
.nav-menu a:hover {
    text-decoration: none;
    opacity: 1.0;
    background: rgba(255, 255, 255, 0.5);  /* Transparent white selected item. */
    border-radius: .2em;

}


/* Navigation Bar - Level 1 Drop Down Menu */

.nav-menu > li {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}
.nav-menu > li:first-child {
    margin-left: 0;
}
.nav-menu > li > a {}
.nav-menu > li > a:hover {}

/* Navigation Bar - Level 2 */

.nav-menu > li > ul {
    text-align: left;
    width: auto;  /* Change auto value with 200px if you want a bigger menu */
    display: none;
    background: #F44344;
    position: absolute;
    top: 100%;
    left: 0;
    padding-bottom: 5px;
    min-width: 150px;
    width: max-content;
    border-radius: .5em .5em.5em .5em;
    z-index: 9999999;
}
.nav-menu > li:hover > ul {
    display: block;
}
.nav-menu ul li a {}
.nav-menu ul li a:hover {}

/* Navigation Bar - Level 3 */

.nav-menu > li > ul > li > ul {
    text-align: left;
    display: none;
    background: #F44344;
    position: absolute;
    left: 100%;
    top: 0;
    padding-bottom: 5px;
    min-width: 150px;
    width: max-content;
    border-radius: .5em .5em .5em .5em;
    z-index: 9999999;
}
.nav-menu > li > ul > li:hover > ul {
    display: block;
}
.nav-menu ul ul li {}
.nav-menu ul ul li a {}
.nav-menu ul ul li a:hover {}

.listing_tite{
    padding-left: 5em;
    padding-bottom: 30px;
}

/* sign in FORM */
#logreg-forms{
    width:412px;
    padding-top: 15vh;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
    background-color:#f3f3f3;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 0px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}

#logreg-forms img{
    width: 5%;
    height: auto;
    float: right;

}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;

    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }

    #logreg-forms  .google-btn:after{
        content:'Google+';
    }

}


#updatebtn{
    background-color: #F44344;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: 42px;
    letter-spacing: 1px;
    line-height: 42px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: max-content;
    float: right;
}

.checkoutbtn{
    background-color: #F44344;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: 42px;
    letter-spacing: 1px;
    line-height: 42px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: max-content;
    float: right;
}


#removebtn{
    background-color: transparent;
    border: 0 none;
}

.remove-quick-view-content{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#confirmbtn {
    background-color: #F44344;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 42px;
    letter-spacing: 1px;
    line-height: 42px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: max-content;
}

input[type="submit"][disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.delete-modal-quickview-width{
    width: max-content;
}

.product-details-large img{
    height: 450px;
}

.address{
    padding-left: 40px;
}

.product-action button {
    background-color: #383838;
    border-radius: 100%;
    color: #f7f7f7;
    display: inline-block;
    font-size: 24px;
    height: 45px;
    line-height: 49px;
    margin: 0 15px;
    width: 45px;
}
.product-action button:hover {
    background-color:#f51424;
    color: #fff;
}

input.form-control[type=checkbox] {
     width: auto;
     height: auto;
     display: inline;
 }

input[type=radio] {
    z-index: 3;
    width: 15px;
    height: 12px;
    margin:0;
    -moz-appearance: none;
}
label {
    font-weight: normal;
    font-size: 1.5em;
    cursor: pointer;
}

.chooseShipping {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    width: 450px;
    height: max-content;
    display: block;
    border: 1px solid #F44344;
    float: left;
}

.chooseShipping p{
    color: #555;
}

.chooseShipping input:focus{
    background-color: #FFFFFF;
}

.chooseShipping h5{
    color: #555;
}
.chooseShipping label{
    color: #555;
}

.completePayment{
    padding-top: 5%;
    padding-bottom: 300px;
    text-align: center;
}

#countdown{
    color: #F44344;
}

.hmCountdown{
    color: #F44344;
    text-align: center;
}
.hmCountdown h6{
    color: #F44344;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 25%;
    list-style: none;
    top: 550px;
}

.product-thumbnail img {
    width: 100px;
    height: auto;
}
#logo img{

 }
