/*css for yellow button, may integrate all the yellow buttons into one css later*/
.button {
    background: white; !important;
    color: #f44344 !important;
    font-size: 18px;
    padding: 20px 20px !important;
    line-height: 0;
    min-width: 100%;
    font-weight: 600;
    border: 2px solid #f44344;
    margin-bottom: 0;
}
.button:hover /*hover*/{
    border: 2px solid #f44344 !important;
    color: white !important;
    background-color:#f44344 !important;
}

.alert-alt {
    background-color: transparent;
    color: #ffcf06;
    font-size: 18px;
    display: block;
    padding: 12px;
    border: 2px solid #ffcf06;
    margin-bottom: 10px;
    /*min-width: 100%;*/
    width: 100%;
    font-weight: 600;
}

.rounded-5{ /*custom css class for rounder corner than default*/
    border-radius: 5px;
}

div#register-sub { /*remove side padding inside the card*/
    padding: 1.25rem 0px;
}

.login-panel {
     margin:auto;
     /*background: rgba(76, 175, 80, 0.0)*/

 }

.flex-container{
    display:flex;
    flex-direction:row;
}

.card .card-img-top.register-choice { /*for temp icons from moqups*/
    max-width: 150px;
    padding: 80px 0px !important;
    margin: 0 25%;
}


.image-side {
    background: #008cba;
}


.image-side h1 {
    font-family: "Indie Flower", cursive;
    color: white;
    margin-top: 45vh;
    padding:0;
    text-align:center;
    width:35vw;
}



#wrapper {
    display: flex;
    flex-direction: row;
    justify-content:center;

}
#left {
    order: 1;
    flex-grow: 2;
    padding-bottom:10vh;

}
#right {
    order: 2;
    flex-grow: 3;
    padding-bottom:10vh;

}

.form {
    margin:auto;
    padding-top:5%;
    padding-right: 10%;
    padding-left:10%;
    padding-bottom:10%;
    margin-bottom:5%;
    height: 100vh;
}



.form h2 {
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding:0;
    margin: auto;
    color: #666666
}


@media screen and (max-width: 700px){

    .form{
        margin:0;
    }
    .image-side h1{
        margin-top: 10px;
    }
    #wrapper{
        flex-direction:column;
    }
    #left{
        flex-grow:1;
    }
    #right{
        flex-grow:3;
    }
}


#name{
    order:1;
}


#profile-pic img{
    max-height:100px;
}

#header.alt a{
    color:#000000;
}

.row {
}

.row#register {
    margin: 0;
}

.col-sm-4 h4{
    justify-content:left;
}

body {
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.card-body{
    /*background-color: rgba(84, 212, 244, 1)!important;*/
    background-color: rgba(84, 212, 244, 0)!important;
}

.card-header#reg-card{
    /*background: rgb(84, 212, 244)!important;*/
    background: rgb(84, 212, 244,0)!important;
}

h3{
    color: #333333 !important;
    font-family: "Roboto", sans-serif;
}

.registration-title{
    text-align: left;
}

#password {
    margin:0;
}

@media (min-width: 576px) and (max-width: 767.98px) {

    #info-box{

    }
}


#login-sub{
    display:none;
}

#info-box img {
    width: inherit;
    height: inherit;
}

.error {
    color: #ff0000;
}

@media screen and (max-width: 575.98px) {
    /*width of input boxes, next, submit and previous button change as screen size changes*/
    input[type=email], input[type=password], input[type=text],input.next.btn.button.alert,input.previous.btn.button.alert-alt
    , input.btn.btn-default.button.alert, #bio, #type{
        width:55%;
    }


    /*width of login button, next, submit and previous button changes as screen size changes*/
    button.expand.button.alert,input.next.btn.button.alert,input.previous.btn.button.alert-alt
    , input.btn.btn-default.button.alert{
        min-width:55%;
    }
}

    /*width of "send reset link" button and email input on forgotten password page changes as screen size changes*/
    button.expand.button.alert.reset, input#forgottenpasswordemail {
        min-width:55%;
    }

@media (min-width: 500px) and (max-width: 760px) {
    /*width of input boxes, next, submit and previous button change as screen size changes*/
    input[type=email], input[type=password], input[type=text],input.next.btn.button.alert,input.previous.btn.button.alert-alt
    , input.btn.btn-default.button.alert, #bio, #type{
        width:90%;
    }

    /*width of login button, next, submit and previous button changes as screen size changes*/
    button.expand.button.alert, input.next.btn.button.alert,input.previous.btn.button.alert-alt
    , input.btn.btn-default.button.alert{
        min-width:90%;
    }
}

    /*width of "send reset link" button and email input on forgotten password page changes as screen size changes*/
    button.expand.button.alert.reset, input#forgottenpasswordemail {
        min-width:90%;
    }

@media (min-width: 760px) and (max-width: 991.98px) {
    /*width of input boxes, next, submit and previous button change as screen size changes*/
    input[type=email], input[type=password], input[type=text],input.next.btn.button.alert,input.previous.btn.button.alert-alt
    , input.btn.btn-default.button.alert, #bio, #type{
        width:80%;
    }

    /*width of login button, next, submit and previous button changes as screen size changes*/
    button.expand.button.alert, input.next.btn.button.alert,input.previous.btn.button.alert-alt
    , input.btn.btn-default.button.alert{
        min-width:80%;
    }
}

    /*width of "send reset link" button and email input on forgotten password page changes as screen size changes*/
    button.expand.button.alert.reset, input#forgottenpasswordemail {
        min-width:80%;
    }
