* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 15px;
  margin: 0;; }

input, textarea, select, button {
  font-family: "Muli-SemiBold"; }

.wrapper p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
    color: #FFFFFF;
}

.wrapper img {
  max-width: 100%; }

.wrapper ul {
  padding-left: 0;
  margin-bottom: 0; }

.wrapper a {
  text-decoration: none;
    color: #FFFFFF;
}

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
    color: #FFFFFF;
  display: flex; }
  .wrapper .image-holder {
    width: 69.9%; }
  .wrapper .form-inner {
    width: 30.1%; }

.image-holder img {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
 }

.form-inner {
  background: #F44344;
  padding-left: 4vw;
  padding-right: 4vw;

}
.form-inner a{
     font-size: 20px;


 }
.form-inner a:hover{
    text-decoration: underline;

}

.signUp {
    background: #EE6263; }

.wrapper form {
  width: 100%; }

.wrapper .form-header {
  text-align: center;
  margin-bottom: 39px; }

.wrapper h3 {
  text-transform: uppercase;
  font-size: 40px;
  color: #FFFFFF;}

.wrapper label {
  margin-bottom: 11px;
  display: block;
  color: #FFFFFF;
}

.wrapper.form-group {
  margin-bottom: 26px;
  position: relative; }

.wrapper.form-control {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 45px;
  background: none;
  padding: 0 19px;
  color: #fff;
  font-size: 17px; }
  .wrapper.form-control.error {
    border-color: #fd677a !important;
    background: url("../images/error.png") no-repeat center right 19px; }
  .wrapper.form-control.valid {
    background: url("../images/valid.png") no-repeat center right 19px; }

.wrapper.form-error {
  display: inline-block; }

.wrapper button {
  border: none;
  width: 100%;
  height: 46px;
  border-radius: 22.5px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #fff;
  color: #ff97a4;
  text-transform: uppercase;
  font-size: 17px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .wrapper button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fd677a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .wrapper button:hover {
    color: white; }
    .wrapper button:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.wrapper .socials {
  text-align: center;
  margin-top: 59px; }

.wrapper .socials-icon {
  display: inline-flex;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 19px;
  color: #fff;
  transition: all 0.5s ease;
  margin-right: 19px; }
  .socials-icon:hover {
    background: #fff;
    border: 1px solid transparent;
    color: #ff97a4; }
  .socials-icon:last-child {
    margin-right: 0; }

.wrapper p {;
  color: #ffff66;
  margin-bottom: 22px; }

@media (max-width: 1500px) {
  .form-inner {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 4vw;
    padding-right: 4vw; } }
@media (max-width: 1199px) {
  .wrapper {
    flex-direction: column; }
    .wrapper .image-holder {
      width: 100%;
      height: 45vh; }
    .wrapper .form-inner {
      width: 100%;
      height: 55vh; }

  .form-inner {
    padding-left: 20vw;
    padding-right: 20vw; }

  button {
    width: 50%; } }
@media (max-width: 991px) {
  .wrapper .image-holder {
    height: 37vh; }
  .wrapper .form-inner {
    height: 63vh; }

  .socials {
    margin-top: 40px; }

  .form-header {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .wrapper .form-inner {
    height: auto; }
  .wrapper .image-holder {
    height: auto; }

  .image-holder img {
    display: block; }

  .form-inner {
    padding: 30px 20px; }

  button {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
