<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\PromoCode[]|\Cake\Collection\CollectionInterface $promoCodes
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Promo Code'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="promoCodes index large-9 medium-8 columns content">
    <h3><?= __('Promo Codes') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('promo_code') ?></th>
                <th scope="col"><?= $this->Paginator->sort('discount_type') ?></th>
                <th scope="col"><?= $this->Paginator->sort('discount_amount') ?></th>
                <th scope="col"><?= $this->Paginator->sort('start_date') ?></th>
                <th scope="col"><?= $this->Paginator->sort('end_date') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($promoCodes as $promoCode): ?>
            <tr>
                <td><?= $this->Number->format($promoCode->id) ?></td>
                <td><?= h($promoCode->promo_code) ?></td>
                <td><?= h($promoCode->discount_type) ?></td>
                <td><?= $this->Number->format($promoCode->discount_amount) ?></td>
                <td><?= h($promoCode->start_date) ?></td>
                <td><?= h($promoCode->end_date) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $promoCode->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $promoCode->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $promoCode->id], ['confirm' => __('Are you sure you want to delete # {0}?', $promoCode->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
