<?php $this->layout = 'wholesale_default';?>

<!doctype html>
<html>
<head>
    <title>FAQ</title>
    <link rel = "stylesheet" type = "text/css"
          href="css/style.css">
</head>
<body>

<?php foreach ($contentManagement as $contentManagement): ?>
    <div class = "container">
        <div class = "box-1">
            <h2>  <?= ($contentManagement->title) ?> </h2>
            <p>
                <?= ($contentManagement->content) ?>
                <br>

        </div>
    </div>
<?php endforeach; ?>


<div class = "container">
</div>