<?php

?>


<!doctype html>
<html>
<head>
    <title>FAQ</title>
    <link rel = "stylesheet" type = "text/css"
          href="css/style.css">
</head>
<body>

<div class = "container">
    <div class = "box-1">
        <h1>Coming Soon</h1><br>
</div>
</div>
