<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\CollectionsTag[]|\Cake\Collection\CollectionInterface $collectionsTags
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Collections Tag'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Tags'), ['controller' => 'Tags', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Tag'), ['controller' => 'Tags', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Collections'), ['controller' => 'Collections', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Collection'), ['controller' => 'Collections', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="collectionsTags index large-9 medium-8 columns content">
    <h3><?= __('Collections Tags') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('tag_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('collection_id') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($collectionsTags as $collectionsTag): ?>
            <tr>
                <td><?= $collectionsTag->has('tag') ? $this->Html->link($collectionsTag->tag->id, ['controller' => 'Tags', 'action' => 'view', $collectionsTag->tag->id]) : '' ?></td>
                <td><?= $collectionsTag->has('collection') ? $this->Html->link($collectionsTag->collection->title, ['controller' => 'Collections', 'action' => 'view', $collectionsTag->collection->id]) : '' ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $collectionsTag->tag_id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $collectionsTag->tag_id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $collectionsTag->tag_id], ['confirm' => __('Are you sure you want to delete # {0}?', $collectionsTag->tag_id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
